html, body
    font-family: 'Inter', sans-serif;
    &.fixed
        overflow: hidden
    
// Colores: variables
@import 'variables'

// Colores: clases
.color-black
    color: $black

.color-white
    color: $white

.color-lightGray
    color: $lightGray

.background-black
    background-color: $black

.background-white
    background-color: $white

.background-lightGray
    background-color: $lightGray
    
// Fonts Helpers
.font-sans
    font-family: 'Inter', sans-serif

.font-light
    font-weight: 300

.font-regular
    font-weight: 400

.font-medium
    font-weight: 500

.font-bold
    font-weight: 600

.font-black
    font-weight: 700

// Helpers
.pd-lr
    padding-left: 28px
    padding-right: 28px