@import 'variables'

.portfolioGrid
    display: flex
    flex-wrap: wrap
    margin:
        bottom: 65px
    .item
        width: 100%
        // margin-top: 50px
        margin-top: 55px
        // transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1)
        a.img
            display: block
            width: 100%
            height: 0
            // padding-top: 223 / 319 * 100%
            padding-top: 439 / 319 * 100%
            background-color: $lightGray
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            margin-bottom: 24px
            opacity: 1
            transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1)
        .data
            a
                h4
                    margin-bottom: 10px
                    color: $black
                    font-size: 15px
                    @include font-black
                    opacity: 1
                    transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1)
            p
                font-size: 15px
                @include font-light
                color: rgba($black, 0.7)
                letter-spacing: -0.01em
        &:first-child
            margin-top: 0
        &:hover,
        &:active
            a.img
                opacity: 0.9
            .data
                a
                    h4
                p

@media (min-width: 660px)
    .portfolioGrid
        justify-content: space-between
        margin:
            bottom: 24px
        .item
            width: 46%
            margin-top: 0
            margin-bottom: 50px
            a.img
            .data
                a
                    h4
                p
            &:first-child

@media (min-width: 900px)
    .portfolioGrid
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-column-gap: 5vw
        .item
            width: 100%
            margin-bottom: 60px
            a.img
                padding-top: 510 / 353 * 100%
            .data
                a
                    h4
                p
            &:first-child

@media (min-width: 1100px)
    .portfolioGrid
        // justify-content: space-between
        margin:
            bottom: 28px
        grid-column-gap: 50px
        grid-column-gap: 60px
        .item
            // width: 48.5%
            // margin-top: 0
            margin-bottom: 62px
            a.img
                // width: 32%
            .data
                a
                    h4
                        font-size: 16px
                        margin-bottom: 12px
                p
                    font-size: 16px
            &:first-child

@media (min-width: 1400px)
    .portfolioGrid
        // justify-content: space-between
        // margin:
            // bottom: 28px
        grid-column-gap: 70px
        grid-column-gap: 5vw
        .item
            // width: 48.5%
            // margin-top: 0
            // margin-bottom: 62px
            a.img
                // width: 32%
            .data
                a
                    h4
                        // font-size: 16px
                        // margin-bottom: 12px
                p
                    // font-size: 16px
            &:first-child

@media (min-width: 1800px)
    .portfolioGrid
        // justify-content: space-between
        // margin:
            // bottom: 28px
        grid-template-columns: repeat(4, 1fr)
        // grid-column-gap: 70px
        grid-column-gap: 2.7vw
        .item
            // width: 25%
            // margin-top: 0
            // margin-bottom: 62px
            a.img
                // width: 32%
            .data
                a
                    h4
                        // font-size: 16px
                        // margin-bottom: 12px
                p
                    // font-size: 16px
            &:first-child