@import 'variables'

.hero
    display: flex
    flex-wrap: wrap
    // width: 100%
    box-sizing: border-box
    padding-top: 196px
    position: relative
    // padding-top: 112px
    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        width: 100%
        height: 800px
        background-color: $lightGray
        z-index: -10
    .presentationTitle
        order: 1
        h5
            @include font-light
            font-size: 15px
            letter-spacing: -0.01em
            color: rgba($black, 0.8)
            margin:
                bottom: 25px
        h1
            font-size: 36px
            letter-spacing: -0.02em
            line-height: 130%
            @include font-regular
            margin-bottom: 60px
            max-width: 390px
    .indexDescription
        order: 3
        width: 95%
        margin-bottom: 92px
        p
            max-width: 400px
            line-height: 150%
            line-height: 155%
            font-size: 15px
            letter-spacing: -0.01em
            color: rgba($black, 0.8)
            margin-bottom: 26px
            &:last-child
                margin-bottom: 0
        a
            // font-size: 15px
            color: $black
            @include font-medium
            transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1)
            &:hover
                opacity: 0.7
    .imagePresentation
        order: 2
        width: 100%
        margin-bottom: 57px
        .img
            width: 100%
            height: 420px
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            margin-bottom: 15px
        figcaption
            font-size: 13px
            color: rgba($black, 0.4)
            letter-spacing: -0.01em
            a
                color: rgba($black, 0.6)

@media (min-width: 660px)
    .hero
        padding-top: 246px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(1, 1fr)
        grid-column-gap: 48px
        margin:
            bottom: 34px
            bottom: 44px
        &::after
            height: 600px
        .presentationTitle
            grid-area: 1 / 1 / 2 / 3
            h5
                font-size: 16px
                margin:
                    bottom: 32px
            h1
                font-size: 46px
                line-height: 130%
                max-width: 480px
                margin-bottom: 62px
        .indexDescription
            grid-area: 2 / 2 / 3 / 3
            align-self: end
            margin-bottom: 104px
            p
            a
        .imagePresentation
            // grid-area: 2 / 2 / 3 / 3
            grid-area: 2 / 1 / 3 / 2
            margin-bottom: 76px
            .img
                margin:
                    bottom: 17px
                height: 380px
            figcaption
                a

@media (min-width: 900px)
    .hero
        padding-top: 170px
        // display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-template-rows: repeat(1, 1fr)
        grid-column-gap: 30px
        margin:
            bottom: 118px
            bottom: 128px
        &::after
            height: 490px
            height: 496px
        .presentationTitle
            grid-area: 1 / 1 / 2 / 4
            order: 1
            padding: 
                top: 68px
            margin:
                bottom: 0
            h5
                font-size: 15px
                margin:
                    bottom: 28px
            h1
                font-size: 46px
                // max-width: 480px
                margin-bottom: 72px
        .indexDescription
            grid-area: 2 / 1 / 3 / 4
            // align-items: start
            order: 2
            margin-bottom: 0
            p
                max-width: 84%
                margin-bottom: 20px
                line-height: 160%
                font-size: 14px
            a
        .imagePresentation
            grid-area: 1 / 4 / 3 / 6
            order: 3
            margin-bottom: 0
            .img
                // height: 92%
                // height: 70%
                height: 95%
                // height: auto
                // height: 500px
            figcaption
                a

@media (min-width: 1100px)
    .hero
        padding-top: 166px
        grid-column-gap: 48px
        &::after
            // height: 546px
            height: 570px
        .presentationTitle
            padding:
                top: 114px
            h5
                font-size: 16px
                margin:
                    bottom: 33px
            h1
                font-size: 54px
                line-height: 120%
                max-width: 85%
                margin-bottom: 98px
        .indexDescription
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            max-width: 90%
            p
                width: 46.5%
                font-size: 15px
            a
        .imagePresentation
            box-sizing: border-box
            padding-left: 50px
            .img
                height: 92%
            figcaption
                a

@media (min-width: 1400px)
    .hero
        &::after
            height: 574px
        .presentationTitle
            padding:
                top: 98px
            h5
                // font-size: 16px
                // margin:
                //     bottom: 33px
            h1
                font-size: 58px
                // line-height: 120%
                // max-width: 85%
                // margin-bottom: 98px
        .indexDescription
            // display: flex
            // flex-wrap: wrap
            // justify-content: space-between
            // max-width: 90%
            p
                // width: 46.5%
            a
        .imagePresentation
            // box-sizing: border-box
            // padding-left: 50px
            .img
                // height: 92%
            figcaption
                a

@media (min-width: 1560px)
    .hero
        // padding-top: 166px
        // grid-column-gap: 48px
        &::after
            // height: 546px
            height: 612px
        .presentationTitle
            padding:
                top: 120px
            h5
                // font-size: 16px
                // margin:
                //     bottom: 33px
            h1
                font-size: 64px
                // line-height: 120%
                max-width: 720px
                // margin-bottom: 98px
        .indexDescription
            // display: flex
            // flex-wrap: wrap
            // justify-content: space-between
            // max-width: 90%
            p
                // width: 46.5%
            a
        .imagePresentation
            // box-sizing: border-box
            padding-left: 80px
            .img
                // height: 92%
            figcaption
                a

@media (min-width: 1640px)
    .hero
        padding-top: 188px
        // grid-column-gap: 48px
        &::after
            // height: 546px
            height: 654px
        .presentationTitle
            padding:
                top: 140px
            h5
                // font-size: 16px
                // margin:
                //     bottom: 33px
            h1
                // font-size: 64px
                // max-width: 720px
                // line-height: 120%
                // margin-bottom: 98px
        .indexDescription
            // display: flex
            // flex-wrap: wrap
            // justify-content: space-between
            // max-width: 90%
            p
                // width: 46.5%
            a
        .imagePresentation
            // box-sizing: border-box
            // padding-left: 80px
            .img
                // height: 92%
            figcaption
                a