@import 'variables'

.work
    padding:
        top: 115px
    .workImage
        width: 100%
        height: 0
        padding-top: 658 / 1159 * 100%
        background-color: $lightGray
        background-position: center
        background-size: cover
        box-sizing: border-box
        margin:
            left: auto
            right: auto
            bottom: 55px
    .workHeader
        margin:
            bottom: 61px
        .headerDescription
            h5
                font-size: 15px
                line-height: 120%
                color: rgba($black, 0.7)
                letter-spacing: -0.01em
                margin:
                    bottom: 28px
                    bottom: 30px
            h2
                width: 95%
                font-size: 32px
                line-height: 130%
                letter-spacing: -0.02em
                color: $black
                margin-bottom: 32px
                max-width: 420px
            .description
                margin:
                    // bottom: 48px
                    bottom: 44px
                p
                    font-size: 16px
                    line-height: 160%
                    letter-spacing: -0.01em
                    max-width: 420px
                    margin:
                        bottom: 18px
                    color: rgba($black, 0.7)
        .headerDetails
            .item
                margin-bottom: 26px
                margin-bottom: 32px
                &:last-child
                    margin-bottom: 0
                h6
                    @include font-bold
                    font-size: 15px
                    letter-spacing: -0.01em
                    margin-bottom: 8px
                p
                    @include font-regular
                    font-size: 15px
                    letter-spacing: -0.01em
                    margin-bottom: 0
                    line-height: 150%
                    color: rgba($black, 0.7)
    .content
        padding:
            bottom: 45px
        img
            max-width: 100%
            margin:
                bottom: 18px
            &:last-child
                margin:
                    bottom: 0

@media (min-width: 660px)
    .work
        .workImage
            margin:
                bottom: 100px
        .workHeader
            margin:
                bottom: 50px
            .headerDescription
                h5
                h2
                    font-size: 38px
                    max-width: 480px
                    max-width: 90%
                .description
                    margin:
                        bottom: 48px
                    p
                        max-width: 480px
                        max-width: 85%
            .headerDetails
                max-width: 480px
                display: flex
                flex-wrap: wrap
                .item
                    width: 50%
                    h6
                    p
        .content
            img
                &:last-child

@media (min-width: 900px)
    .work
        padding:
            top: 126px
        .workImage
            // margin:
            //     bottom: 100px
        .workHeader
            display: flex
            justify-content: space-between
            margin:
                bottom: 70px
            .headerDescription
                width: 65%
                h5
                h2
                    font-size: 36px
                    // line-height: 135%
                    max-width: 520px
                .description
                    margin:
                        bottom: 44px
                    p
                        max-width: 520px
            .headerDetails
                width: 30%
                align-self: start
                // max-width: 480px
                // display: flex
                // flex-wrap: wrap
                .item
                    width: 100%
                    // width: 50%
                    h6
                    p
        .content
            img
                &:last-child

@media (min-width: 1100px)
    .work
        padding:
            top: 131px
        .workImage
            margin:
                bottom: 160px
        .workHeader
            margin:
                bottom: 100px
            .headerDescription
                h5
                    font-size: 16px
                    margin:
                        bottom: 36px
                h2
                    font-size: 46px
                    line-height: 120%
                    max-width: 85%
                    margin:
                        bottom: 34px
                        bottom: 38px
                .description
                    margin: 
                        bottom: 0
                    p
                        font-size: 17px
                        font-size: 17px
                        line-height: 160%
                        max-width: 80%
            .headerDetails
                // align-self: start
                .item
                    margin-bottom: 38px
                    h6
                    p
        .content
            padding:
                bottom: 52px
            img
                margin:
                    bottom: 31px
                &:last-child

@media (min-width: 1400px)
    .work
        // padding:
        //     top: 131px
        .workImage
            // margin:
                // bottom: 160px
        .workHeader
            // margin:
                // bottom: 100px
            .headerDescription
                h5
                    // font-size: 16px
                    // margin:
                        // bottom: 36px
                h2
                    // font-size: 46px
                    // line-height: 120%
                    // max-width: 85%
                    // margin:
                        // bottom: 34px
                        // bottom: 38px
                .description
                    // margin: 
                        // bottom: 0
                    p
                        // font-size: 17px
                        // font-size: 17px
                        // line-height: 160%
                        // max-width: 80%
            .headerDetails
                // align-self: start
                .item
                    // margin-bottom: 38px
                    h6
                    p
        .content
            // padding:
                // bottom: 52px
            img
                // margin:
                    // bottom: 31px
                &:last-child

@media (min-width: 1640px)
    .work
        padding:
            top: 148px
        .workImage
            // margin:
            //     bottom: 160px
        .workHeader
            // margin:
            //     bottom: 100px
            .headerDescription
                h5
                    // font-size: 16px
                    // margin:
                    //     bottom: 36px
                h2
                    font-size: 52px
                    // line-height: 120%
                    // max-width: 85%
                    // margin:
                    //     bottom: 34px
                    //     bottom: 38px
                .description
                    // margin: 
                    //     bottom: 0
                    p
                        // font-si/th: 80%  
            .headerDetails
                // align-self: start
                .item
                    // margin-bottom: 38px
                    h6
                    p
        .content
            // padding:
                // bottom: 52px
            img
                // margin:
                    // bottom: 31px
                &:last-child